.songs-queue {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}

.songs-queue .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
}

.songs-queue .header .title{
    font-weight: 700;
    font-size: 2rem;
    color: aliceblue;
}

.songs-queue .drop-down {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #15F5BA;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.songs-queue .drop-down .dropdown-list {
    position: absolute;
    width: 0rem;
    opacity: 0;
    right: 0;
    top: 0;
    background-color: rgba(26, 29, 29, 0.637);
    backdrop-filter: blur(2px);
    margin: 0;
    padding: 0 .5rem;
    transition: all .2s ease-out;
    overflow: hidden;
}

.songs-queue .drop-down:hover .dropdown-list {
    width: 8rem;
    opacity: 1;
}

.songs-queue .drop-down .dropdown-list li{
    list-style: none;
    font-size: 0rem;
    padding: .5rem;
    border-bottom: 1px solid white;
    transition: all .2s ease-out;
}

.songs-queue .drop-down .dropdown-list li:last-child{
    border: none;
}

.songs-queue .drop-down:hover .dropdown-list li{
    font-size: .8rem;
}

.songs-queue .drop-down .down-arrow-icon {
    width: 1rem;
    height: 1rem;
}

/* -----------------------Song Card------------------------- */

.songs-queue .song-card:hover {
    backdrop-filter: brightness(190%);
}

.song-card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 4.5rem;
}

.song-card .index{
    width: 2rem;
    text-align: right;
    flex-shrink: 0;
    display: inline-block;
}

.song-card .play{
    width: 2rem;
    height: 1rem;
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.song-card:hover .index{
    display: none;
}

.song-card:hover .play{
    display: flex;
}

.song-card .play img{
    width: 1rem;
}

.song-card .play-animation{
    width: 2rem;
    height: 1.2rem;
    align-items: flex-end;
    gap: 1px;
    display: flex;
    justify-content: flex-end;
}

.song-card .play-animation .bar1{
    width: 4px;
    background-color: #15F5BA;
    flex-grow: 0;
    flex-shrink: 0;
    animation: .8s infinite alternate bar1;
}

.song-card .play-animation .bar2{
    width: 4px;
    background-color: #15F5BA;
    flex-grow: 0;
    flex-shrink: 0;
    animation: .8s infinite alternate bar2;
}

.song-card .play-animation .bar3{
    width: 4px;
    background-color: #15F5BA;
    flex-grow: 0;
    flex-shrink: 0;
    animation: .8s infinite alternate bar3;
}

.song-card .thumbnail {
    width: var( --song-thumbnail-width);
    aspect-ratio: 1/1;
    background-color: #15F5BA;
    border-radius: .5rem;
    overflow: hidden;
}

.song-card .thumbnail img{
    width: 100%;
    display: flex;
    align-items: center;
}

.song-card .details {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    color: aliceblue;
    gap: .4rem;
}

.song-card .details .title{
    font-weight: 500;
    font-size: 1rem;
}

.song-card .details .artist{
    font-weight: 500;
    font-size: .9rem;
    opacity: .7;
}

.song-card .heart-icon{
    width: 1.5rem;
    opacity: .9;
}

.song-card .heart-icon img {
    width: 100%;
}

@keyframes bar1 {
    from {
      height: .4rem;
    }
  
    50% {
      height: 1rem;
    }
  
    to {
      height: .4rem;
    }
  }

  @keyframes bar2 {
    from {
      height: 1rem;
    }
  
    50% {
      height: .6rem;
    }
  
    to {
      height: 1rem;
    }
  }

  @keyframes bar3 {
    from {
      height: .4rem;
    }
  
    25% {
      height: 1rem;
    }

    70% {
        height: .4rem;
    }
  
    to {
      height: .2rem;
    }
  }